{% extends '@EMSAdminUI/bootstrap5/base/html5.html.twig' %}
{% trans_default_domain 'emsco-core' %}

{% block title %}{{ dashboard.label }}{% endblock %}

{%- block extraheader %}
    {%- if dashboard.option('header') is not null -%}
        {{- include(template_from_string(dashboard.option('header'), "Header template for Dashboard " ~ dashboard.name)) -}}
    {%- endif -%}
{% endblock %}

{% block wrapper %}
    <div id="dashboard-browser" data-type="{{ dashboard.definition }}">
        {%- if dashboard.option('body') is not null -%}
            {{- include(template_from_string(dashboard.option('body'), "Body template for Dashboard " ~ dashboard.name)) -}}
        {%- endif -%}
    </div>
{% endblock wrapper %}

{% block javascripts %}
    {%- if dashboard.option('footer') is not null -%}
        {{- include(template_from_string(dashboard.option('footer'), "Footer template for Dashboard " ~ dashboard.name)) -}}
    {%- endif -%}
{% endblock %}
