{% extends '@EMSCore/base.html.twig' %}{% trans_default_domain 'EMSCoreBundle' %}

{% block pagetitle %}
    {{ 'view.user.permissions.page_title'|trans }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box ">
                <div class="box-header with-border">
                    <i class="fa fa-sitemap"></i>
                    <h3 class="box-title">{{ 'view.user.permissions.titles.content_type_permissions'|trans }}</h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-condensed table-striped">
                            <tbody>
                            <tr>
                                <th class="text-center" style="width: 10px">{{ 'view.user.permissions.table_headers.content_type'|trans }}</th>
                                <th class="text-center" style="width: 20px">{{ 'view.user.permissions.table_headers.icon'|trans }}</th>
                                <th>{{ 'view.user.permissions.table_headers.view'|trans }}</th>
                                <th>{{ 'view.user.permissions.table_headers.create'|trans }}</th>
                                <th>{{ 'view.user.permissions.table_headers.edit'|trans }}</th>
                                <th>{{ 'view.user.permissions.table_headers.publish'|trans }}</th>
                                <th>{{ 'view.user.permissions.table_headers.delete'|trans }}</th>
                                <th>{{ 'view.user.permissions.table_headers.trash'|trans }}</th>
                                <th>{{ 'view.user.permissions.table_headers.archive'|trans }}</th>
                                <th>{{ 'view.user.permissions.table_headers.show_link_create'|trans }}</th>
                                <th>{{ 'view.user.permissions.table_headers.show_link_search'|trans }}</th>
                                <th>{{ 'view.user.permissions.table_headers.specific_roles'|trans }}</th>
                            </tr>
                            {% for contentType in contentTypes %}
                                {{ dump(contentType) }}
                                <tr class="text-{{ contentType.color }}">
                                    <td class="text-center">{{ contentType.name }}</td>
                                    <td class="text-center"><i class="{% if contentType.icon %}{{ contentType.icon }}{% else %}fa fa-book{% endif %}"></i></td>
                                    {% for role in ['view', 'create', 'edit', 'publish', 'delete', 'trash', 'archive', 'show_link_create', 'show_link_search'] %}
                                        <td class="{{ html_classes({'text-muted': contentType.roles[role] == 'not-defined'}) }} ">
                                            {{ contentType.roles[role]|trans }}
                                        </td>
                                    {% endfor %}
                                    <td>
                                        <div class="btn-group">
                                            {% if contentTypeCounts[contentType.id] != 0 %}
                                                {% include '@EMSCore/elements/get-button.html.twig' with {
                                                    'url':  path('permissions.view', {'contentType': contentType.id}),
                                                    'label': 'View',
                                                    'icon': 'tv'
                                                }%}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box ">
                <div class="box-header with-border">
                    <i class="fa fa-group"></i>
                    <h3 class="box-title">{{ 'view.user.permissions.titles.roles_hierarchy'|trans }}</h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <p>{{ 'view.user.permissions.titles.descriptions.roles_hierarchy_description'|trans }}</p>
                        <table class="table table-condensed table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ 'view.user.permissions.table_headers.role'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for role in roles %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ role|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box ">
                <div class="box-header with-border">
                    <i class="fa fa-group"></i>
                    <h3 class="box-title">{{ 'view.user.permissions.titles.roles_specific_functionalities'|trans }}</h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <p>{{ 'view.user.permissions.titles.descriptions.roles_functionalities_description'|trans }}</p>
                        <table class="table table-condensed table-striped">
                            <thead>
                            <tr>
                                <th>{{ 'view.user.permissions.table_headers.role'|trans }}</th>
                                <th>{{ 'view.user.permissions.table_headers.description'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for roleData in [
                                {'role': 'ROLE_API', 'description': 'view.user.permissions.roles_functionality.role_api'|trans},
                                {'role': 'ROLE_FORM_CRM', 'description': 'view.user.permissions.roles_functionality.role_form_crm'|trans},
                                {'role': 'ROLE_TASK_MANAGER', 'description': 'view.user.permissions.roles_functionality.role_task_manager'|trans},
                                {'role': 'ROLE_ALLOW_ALIGN', 'description': 'view.user.permissions.roles_functionality.role_allow_align'|trans},
                                {'role': 'ROLE_USER_MANAGEMENT', 'description': 'view.user.permissions.roles_functionality.role_user_management'|trans},
                                {'role': 'ROLE_COPY_PASTE', 'description': 'view.user.permissions.roles_functionality.role_copy_paste'|trans},
                                {'role': 'ROLE_DEFAULT_SEARCH', 'description': 'view.user.permissions.roles_functionality.role_default_search'|trans},
                                {'role': 'ROLE_SUPER_USER', 'description': 'view.user.permissions.roles_functionality.role_super_user'|trans},
                                {'role': 'ROLE_USER_READ', 'description': 'view.user.permissions.roles_functionality.role_user_read'|trans}
                            ] %}
                                <tr>
                                    <td>{{ roleData.role|trans }}</td>
                                    <td>{{ roleData.description|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

