{% extends '@EMSCH/template/view/abstract.html.twig' %}
{% trans_default_domain trans_default_domain %}

{% block title %}{{ 'blog.title'|trans }}{% endblock %}

{% block view_body %}
    {%  set query = emsch_search('news', {
        "sort": {
            "publication_date": {
                "order": "desc",
                "missing": "_last",
                "unmapped_type": "long"
            }
        },
        "size": 100,
        "aggs": {
            "categories": {
                "terms": { "field": "categories" }
            }
        }
    }) %}

    {%  set tags = emsch_search('category', {
        "size": 1000,
        "_source": ["#{app.request.locale}.title"]
    }).hits.hits|default([])|array_key('_id')|map(p => attribute(p._source, app.request.locale).title) %}

    <div class="container-fluid container-lg">
        <div class="py-5 py-lg-8">
            <h2>{{ "blog.filter"|trans }}</h2>
            <div class="news-filters mb-5 d-sm-flex">
                {% for categories in query.aggregations.categories.buckets|default([]) %}
                    <div class="custom-control custom-checkbox text-left btn btn-outline-primary pl-5 mr-3 mb-2">
                        <input type="checkbox" class="custom-control-input" id="{{ categories.key }}" value="{{ categories.key }}">
                        <label class="custom-control-label" for="{{ categories.key }}">{{ attribute(tags, categories.key|split(':')|last)}}</label>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for news in query.hits.hits|default([]) %}
                    {{ block('card', '@EMSCH/template/news/thumbnail.html.twig') }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock view_body %}
