{% extends '@EMSAdminUI/bootstrap5/base/admin.html.twig' %}{% trans_default_domain 'emsco-twigs' %}

{% block title %}Add an alias to the index {{name}}{% endblock %}
{% block pagetitle %}Add an alias to the index {{name}}{% endblock %}


{% block body %}

<div class="row">
	<div class="col-md-6">
		<div class="card card-{{ theme_color }} card-outline">
			<div class="card-header">
				<h3 class="box-title"><i class="fa fa-warning"></i> Notice</h3>
			</div>
			<!-- /.box-header -->
			<div class="card-body">
				<p>
					This operation will create a new alias to an existing index.
				</p>
			</div>
			<!-- /.box-body -->
		</div>
	</div>
	<div class="col-md-6">
		<!-- general form elements -->
		<div class="card card-{{ theme_color }} card-outline">
			<div class="card-header">
				<h3 class="card-title">New Alias</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			{{ form_start(form) }}
				<div class="card-body">
					{{ form_row(form.name) }}
				</div>
				<!-- /.box-body -->
				<div class="card-footer">
					{{ form_widget(form.save) }}
				</div>
			{{ form_end(form) }}
		</div>
		<!-- /.box -->
	</div>
</div>
{% endblock %}
