{% extends '@EMSAdminUI/bootstrap5/base/admin.html.twig' %}
{% trans_default_domain 'emsco-twigs' %}

{% block title %}{{ 'views.elasticsearch.export-search.title'|trans }}{% endblock %}

{% block pagetitle %}
    {{ 'views.elasticsearch.export-search.title'|trans }}
{% endblock %}

{% block body %}
    <div class="row">
        <div id="search-page" class="col-md-12">
            <div class="card card-{{ theme_color }} card-outline">
                <div class="card-header">
                    <h3>
                        <i class="fa fa-archive"></i>
                        {{ 'views.elasticsearch.export-search.title'|trans }}
                    </h3>
                </div>
                {% for exportForm in exportForms %}
                    <div class="card-body">
                        {{ form(exportForm) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
