{% extends '@EMSCH/template/fragments/structure.html.twig' %}
{% trans_default_domain trans_default_domain %}


{% block request %}
    <footer class="bd-footer py-5 mt-5 bg-light" {{ emsch_admin_menu(structure) }}>
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-3 mb-3">
                    <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="{{ path('emsch_path') }}" aria-label="{{ 'site.name'|trans }}">
                        <img src="{{ asset("img/logos/elasticms-ball-colour-rvb.svg", 'emsch') }}" width="35" height="35" alt="">
                        &nbsp;
                        <span class="fs-5">{{ 'site.name'|trans }}</span>
                    </a>
                    <ul class="list-unstyled small text-muted">
                        <li class="mb-2">{{ 'site.copy'|trans }} <a href="https://github.com/orgs/ems-project/people">{{ 'site.team'|trans }}</a>.</li>
                        <li class="mb-2">{{ 'now'|format_datetime('full') }}</li>
                    </ul>
                </div>
                {% for section in blocks.children %}
                    <div class="col-6 col-lg-2 mb-3{% if loop.first %} offset-lg-1{% endif %}">
                        <span class="h5">{{ section.label}}</span>
                        <ul class="list-unstyled mt-1">
                            {% for link in section.children %}
                                <li class="mb-2">
                                    {% if attribute(urls, link.id) is defined %}
                                        <a href="{{ attribute(urls, link.id) }}">
                                            {{ link.label }}
                                            {% if attribute(urls, link.id)|slice(0,1) != '/' %}
                                                <i class="fas fa-external-link-alt fa-xs" aria-hidden="true"></i>
                                            {% endif %}
                                        </a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </footer>
{% endblock request %}
