{% extends '@EMSCH/template/fragments/structure.html.twig' %}
{% trans_default_domain trans_default_domain %}

{% block dropdownSubmenu %}
    <li class="dropdown-submenu">
        <a class="dropdown-item dropdown-toggle" href="{{ attribute(urls, link.id) is defined ? attribute(urls, link.id) : '#' }}">{{ link.label }}</a>
        <ul class="dropdown-menu">
            {% for link in link.children|filter(link => attribute(urls, link.id) is defined) %}
                {% if link.children|length > 0 %}
                    {{ block('dropdownSubmenu') }}
                {% else %}
                    {{ block('dropdownItem') }}
                {% endif %}
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block dropdownItem %}
    <li><a class="dropdown-item" href="{{ attribute(urls, link.id) }}">{{ link.label }}</a></li>
{% endblock %}

{% block dropdown %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="{{ section.id }}" role="button"
           data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">
            {{ section.label }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="{{ section.id }}">
            {% for link in section.children %}
                {% if link.children|length > 0 %}
                    {{ block('dropdownSubmenu') }}
                {% elseif attribute(urls, link.id) is defined %}
                    {{ block('dropdownItem') }}
                {% endif %}
            {% endfor %}
        </ul>
    </li>
{% endblock %}

{% block item %}
    {% if attribute(urls, section.id) is defined %}
        <li class="nav-item">
            <a class="nav-link" href="{{ attribute(urls, section.id) }}">{{ section.label }}</a>
        </li>
    {% endif %}
{% endblock %}

{% block request %}
    <ul class="navbar-nav mr-auto" {{ emsch_admin_menu(structure) }}>
        {% for section in blocks.children %}
            {% if section.children|length > 0 %}
                {{ block('dropdown') }}
            {% else %}
                {{ block('item') }}
            {% endif %}
        {% endfor %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
        <div class="input-group mr-sm-2">
            <input type="search" class="form-control" placeholder="{{ 'navbar.search-input'|trans }}" aria-label="{{ 'navbar.search-input'|trans }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search"></i> <span class="sr-only">{{ 'navbar.search'|trans }}</span></button>
            </div>
        </div>
    </form>
{% endblock %}
