{% extends '@EMSCH/template/fragments/structure.html.twig' %}
{% trans_default_domain trans_default_domain %}

{% block dropdownSubmenu %}
    {% if attribute(link.object, locale).title is defined %}
        <li class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="{{ attribute(urls, link.id) is defined ? attribute(urls, link.id) : '#' }}">{{ attribute(link.object, locale).title }}</a>
            <ul class="dropdown-menu">
                {% for link in link.children|filter(link => attribute(urls, link.id) is defined) %}
                    {% if link.children|length > 0 and link.object.dropdown|default(false) %}
                        {{ block('dropdownSubmenu') }}
                    {% else %}
                        {{ block('dropdownItem') }}
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endblock %}

{% block dropdownItem %}
    {% if attribute(link.object, locale).title is defined %}
        <li><a class="dropdown-item" href="{{ attribute(urls, link.id) }}">{{ attribute(link.object, locale).title }}</a></li>
    {% endif %}
{% endblock %}

{% block dropdown %}
    {% if attribute(section.object, locale).title is defined %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ attribute(urls, section.id) is defined ? attribute(urls, section.id) : '#' }}" id="{{ section.id }}" role="button"
               data-toggle="dropdown" aria-haspopup="true"aria-expanded="false">
                {{ attribute(section.object, locale).title }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="{{ section.id }}">
                {% for link in section.children %}
                    {% if link.children|length > 0 and link.object.dropdown|default(false) %}
                        {{ block('dropdownSubmenu') }}
                    {% elseif attribute(urls, link.id) is defined %}
                        {{ block('dropdownItem') }}
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endif %}
{% endblock %}

{% block item %}
    {% if attribute(urls, section.id) is defined and attribute(section.object, locale).title is defined %}
        <li class="nav-item">
            <a class="nav-link" href="{{ attribute(urls, section.id) }}">{{ attribute(section.object, locale).title }}</a>
        </li>
    {% endif %}
{% endblock %}

{% block request %}
    <ul class="navbar-nav ml-auto align-items-lg-center" {{ emsch_admin_menu(section) }}>
        {% for section in structure.children %}
            {% if section.children|length > 0 and section.object.dropdown|default(false) %}
                {{ block('dropdown') }}
            {% else %}
                {{ block('item') }}
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
