{# @var config      \EMS\CoreBundle\Core\Component\JsonMenuNested\Config\JsonMenuNestedConfig #}
{# @var column      \EMS\CoreBundle\Core\Component\JsonMenuNested\Config\JsonMenuNestedColumn #}
{# @var template    \EMS\CoreBundle\Core\Component\JsonMenuNested\Template\JsonMenuNestedTemplate #}
{# @var menu        \EMS\CommonBundle\Json\JsonMenuNested #}
{# @var item        \EMS\CommonBundle\Json\JsonMenuNested #}
{# @var node        \EMS\CoreBundle\Core\Component\JsonMenuNested\Config\JsonMenuNestedNode #}

{%- block _header  -%}
    <div class="jmn-header">
        {% for column in config.columns %}
            <div class="jmn-column {{ "jmn-column-#{column.name}" }}"
                 style="{{ column.width ? "width:#{column.width}px;" }}" >
                {{ template.block(column.blockName('head'), { 'column': column })|raw }}
            </div>
        {% endfor %}
    </div>
{%- endblock _header -%}

{%- block _itemRows -%}
    {%- for item in menu.children -%}
        {%- set node = config.nodes.get(item) -%}
        {{ block('_itemRow') }}
    {%- endfor -%}
{%- endblock -%}

{%- block _itemRow -%}
    {%- apply spaceless -%}
        <div class="{{ html_classes('jmn-node', { 'jmn-collapsible': item.hasChildren }) }}" data-id="{{ item.id }}">
            <div class="jmn-row">
                {%- for column in config.columns -%}
                    <div class="{{- "jmn-cell jmn-cell-#{column.name}" -}}" style="{{- column.width ? "width:#{column.width}px;" -}}" >
                        {{- template.block(column.blockName('cell'), {
                            'column': column,
                            'item': item,
                            'node': node
                        })|raw -}}
                    </div>
                {%- endfor -%}
            </div>
            {%- if node.leaf == false -%}
                <div id="{{ "children-#{item.id}" }}" class="{{- html_classes('jmn-children', {'jmn-sortable': item.hasChildren == false }) -}}"></div>
            {%- endif -%}
        </div>
    {%- endapply -%}
{%- endblock _itemRow -%}

{%- block headTitle -%}Title{%- endblock -%}
{%- block headAction -%}Content{%- endblock -%}
{%- block headPublication -%}Publication Status{%- endblock -%}
{%- block headStructure -%}Structure{%- endblock -%}

{%- block cellTitle -%}
    {% if item.hasChildren %}
        <button class="jmn-item-icon jmn-btn-collapse" aria-expanded="false"></button>
    {% endif %}
    {% if node.icon %}
        <div class="jmn-item-icon"><i class="{{ node.icon }}"></i></div>
    {% endif %}
    <span>{{ item.label }}</span>
{%- endblock -%}

{%- block cellAction -%}...{%- endblock cellAction -%}
{%- block cellPublication -%}...{%- endblock cellPublication -%}

{%- block cellStructure-%}
    <button class="btn btn-sm btn-default jmn-btn-move">Move</button>
    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-sm btn-default jmn-btn-more dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-ellipsis-v"></span>
        </button>
        <ul class="dropdown-menu pull-right">
            <li>
                <button type="button" class="jmn-btn-delete">Delete</button>
            </li>
        </ul>
    </div>
{%- endblock cellStructure -%}



