{# @var config      \EMS\CoreBundle\Core\Component\JsonMenuNested\Config\JsonMenuNestedConfig #}
{# @var column      \EMS\CoreBundle\Core\Component\JsonMenuNested\Config\JsonMenuNestedColumn #}
{# @var template    \EMS\CoreBundle\Core\Component\JsonMenuNested\Template\JsonMenuNestedTemplate #}
{# @var menu        \EMS\CommonBundle\Json\JsonMenuNested #}
{# @var item        \EMS\CommonBundle\Json\JsonMenuNested #}
{# @var node        \EMS\CoreBundle\Core\Component\JsonMenuNested\Config\JsonMenuNestedNode #}

{%- block _top -%}
    <div class="pull-right">
        {{ template.block('_buttonAdd', { 'parentNode': config.nodes.root })|raw }}
    </div>
{%- endblock _top -%}

{%- block _header  -%}
    <div class="jmn-header">
        {% for column in config.columns %}
            <div class="jmn-column {{ "jmn-column-#{column.name}" }}"
                 style="{{ column.width ? "width:#{column.width}px;" }}" >
                {{ template.block(column.blockName('head'), { 'column': column })|raw }}
            </div>
        {% endfor %}
    </div>
{%- endblock _header -%}

{%- block _itemNodes -%}
    {%- for item in menu.children -%}
        {%- set node = config.nodes.get(item) -%}
        {{ block('_itemNode') }}
    {%- endfor -%}
{%- endblock _itemNodes -%}

{%- block _itemNode -%}
    {%- apply spaceless -%}
        {%- set collapsed = item.id in load -%}
        <div class="{{ html_classes('jmn-node', { 'jmn-collapsible': item.hasChildren }) }}" data-id="{{ item.id }}">
            {{ block('_itemRow') }}
            {%- if node.leaf == false -%}
                <div id="{{ "children-#{item.id}" }}" class="{{- html_classes('jmn-children', {'jmn-sortable': item.hasChildren == false }) -}}">
                    {% if collapsed %}
                        {% with { 'menu': item } %}{{ block('_itemNodes') }}{% endwith %}
                    {% endif %}
                </div>
            {%- endif -%}
        </div>
    {%- endapply -%}
{%- endblock _itemNode -%}

{%- block _itemRow -%}
    <div class="jmn-row">
        {%- for column in config.columns -%}
            <div class="{{- "jmn-cell jmn-cell-#{column.name}" -}}" style="{{- column.width ? "width:#{column.width}px;" -}}" >
                {{- template.block(column.blockName('cell'), {
                    'column': column,
                    'item': item,
                    'node': node,
                    'collapsed': collapsed
                })|raw -}}
            </div>
        {%- endfor -%}
    </div>
{%- endblock _itemRow -%}

{%- block headTitle -%}Title{%- endblock -%}
{%- block headAction -%}Content{%- endblock -%}
{%- block headPublication -%}Publication Status{%- endblock -%}
{%- block headStructure -%}Structure{%- endblock -%}

{%- block cellTitle -%}
    {% if item.hasChildren %}
        <button class="jmn-item-icon jmn-btn-collapse" aria-expanded="{{- collapsed ? 'true' : 'false' -}}"></button>
    {% endif %}
    {% if node.icon %}
        <div class="jmn-item-icon"><i class="{{ node.icon }}"></i></div>
    {% endif %}
    <span>{{ item.label }}</span>
{%- endblock -%}

{%- block cellAction -%}...{%- endblock cellAction -%}
{%- block cellPublication -%}...{%- endblock cellPublication -%}

{%- block cellStructure-%}
    {{ template.block('_buttonAdd', { 'parentNode': node })|raw }}
    <button class="btn btn-sm btn-default jmn-btn-move">Move</button>
    {% embed '@EMSCore/components/json_menu_nested/button-dropdown.twig' with {'buttonClass': 'jmn-btn-more'} %}
        {% block button %}<i class="fa fa-ellipsis-v"></i>{% endblock button %}
        {% block items %}
            <li><button type="button" class="jmn-btn-delete">Delete</button></li>
        {% endblock items %}
    {% endembed %}
{%- endblock cellStructure -%}

{%- block _buttonAdd -%}
    {% set childNodes = config.nodes.children(parentNode) %}
    {% if childNodes|length > 0 %}
        {% embed '@EMSCore/components/json_menu_nested/button-dropdown.twig' %}
            {% block button %}<i class="fa fa-plus"></i> Add{% endblock button %}
            {% block items %}
                {% for childNode in childNodes %}
                    <li>
                        <button type="button" class="jmn-btn-add" data-add="{{ childNode.id }}">
                            {% if childNode.icon %}<i class="{{ childNode.icon }}"></i>{% endif %}
                            New {{ childNode.type|capitalize }}
                        </button>
                    </li>
                {% endfor %}
            {% endblock items %}
        {% endembed %}
    {% endif %}
{%- endblock _buttonAdd -%}

{%- block modal_title -%}
    {% if node.icon %}<i class="{{ node.icon }}"></i>&nbsp;{% endif %}
    Add new {{ node.type|capitalize }}
{%- endblock modal_title -%}

{%- block modal_body -%}
    {{ form(form.data) }}
{%- endblock modal_body -%}

{%- block modal_footer -%}
    <div class="pull-right">
        <button id="ajax-modal-submit" class="btn btn-sm btn-primary"><i class="fa fa-save"></i>&nbsp;Save</button>
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
    </div>
{%- endblock modal_footer -%}



