{% extends '@EMSAdminUI/bootstrap5/base/admin.html.twig' %}{% trans_default_domain 'EMSCoreBundle' %}

{% block title %}Add a new Content Type{% endblock %}
{% block pagetitle %}Add a new Content Type{% endblock %}
{% block subtitle %}<small>The Elasticsearch mapping will be initialized later</small>{% endblock %}


{% block body %}

<div class="row">
	<div class="col-md-6">
		<div class="card card-warning card-outline">
			<div class="card-header">
				<h3 class="card-title"><i class="fa fa-warning"></i> Notice</h3>
			</div>
			<!-- /.box-header -->
			<div class="card-body">
				<p>
					This operation will <strong>not</strong> directly create a <strong>new Content Type</strong>.
					But it will just instianciate a new draft.
				</p>
				<p>
					Until that draft is released nothing will transmited to Elasticsearch.
					Take the time you need to review the Content Type.
				</p>
			</div>
			<!-- /.box-body -->
		</div>
	</div>
	<div class="col-md-6">
		<!-- general form elements -->
		<div class="card card-{{ theme_color }} card-outline">
			<div class="card-header">
				<h3 class="card-title">New Content Type</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			{{ form_start(form) }}

				<div class="card-body">
					{{ form_row(form.name) }}
					{{ form_row(form.singularName) }}
					{{ form_row(form.pluralName) }}
					{{ form_row(form.environment) }}
					{{ form_row(form.import) }}

				</div>
				<!-- /.box-body -->
				<div class="card-footer text-end">
					{{ form_widget(form.save) }}

                    {# 					{% include '@EMSAdminUI/bootstrap5/elements/get-button.html.twig' with {#}
{# 						'url':  path('emsco_admin_content_type_edit', {contentType: contentType.id}),#}
{# 						'label': 'Refresh',#}
{# 						'icon': 'refresh'#}
{# 					}%}#}
				</div>
			{{ form_end(form) }}

		</div>
		<!-- /.box -->
	</div>
</div>
{% endblock %}
