{% extends '@EMSAdminUI/bootstrap5/base/admin.html.twig' %}{% trans_default_domain 'EMSCoreBundle' %}

{% block title %}{{ 'form.contenttype.json_update.title'|trans({'%content_type%': contentType.singularName }) }}{% endblock %}
{% block pagetitle %}{{ block('title') }}{% endblock %}
{% block subtitle %}<small>{{ 'form.contenttype.json_update.subtitle'|trans({'%content_type%': contentType.singularName }) }}</small>{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-4 offset-md-4">
			<div class="card card-{{ theme_color }} card-outline">
				<div class="card-header">
					<h3 class="card-title">{{ block('title') }}</h3>
				</div>
				<div class="card-body">
					{{ form_start(form) }}
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
