{% extends '@EMSCH/template/accessibility/abstract.html.twig' %}
{% trans_default_domain trans_default_domain %}

{% block rule_table %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col" style="width: 65%">{{ 'accessibility.description'|trans }}</th>
                <th scope="col">{{ 'accessibility.pages'|trans }}</th>
                <th scope="col">{{ 'accessibility.errors'|trans }}</th>
                <th scope="col">{{ 'accessibility.references'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for issue in subrule %}
                <tr>
                    <td>
                        {% if issue.labels|length > 1 %}
                            <ul>
                                {% for label in issue.labels %}
                                    <li>{{ "accessibility.labels.#{subruleKey}.#{label}"|trans }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {{ "accessibility.labels.#{subruleKey}.#{issue.labels|first}"|trans }}
                        {% endif %}
                    </td>
                    {% set key = attribute(data, issue.references|default([])|map((k, d) => d)|join(',')).key|default(null) %}
                    <td>
                        {% if key and (app.request.server.all['EMSCO_INSTANCE_ID']|default(false) or app.environment == 'dev') %}
                            <a href="{{ path('emsch_accessibility_detail', {key: key}) }}">{{  attribute(data, issue.references|default([])|map((k, d) => d)|join(',')).pages|default(0) }}</a>
                        {%  elseif key %}
                            {{  attribute(data, issue.references|default([])|map((k, d) => d)|join(',')).pages|default(0) }}
                        {%  else %}
                            0
                        {%  endif %}
                    </td>
                    <td>
                        {% if key and (app.request.server.all['EMSCO_INSTANCE_ID']|default(false) or app.environment == 'dev') %}
                            <a href="{{ path('emsch_accessibility_detail', {key: key}) }}">{{  attribute(data, issue.references|default([])|map((k, d) => d)|join(',')).errors|default(0) }}</a>
                        {%  elseif key %}
                            {{  attribute(data, issue.references|default([])|map((k, d) => d)|join(',')).errors|default(0) }}
                        {%  else %}
                            0
                        {%  endif %}
                    </td>
                    <td>
                        {% for k,link in issue.references %}

                            {% if (app.request.server.all['EMSCO_INSTANCE_ID']|default(false) or app.environment == 'dev') %}
                                <a target="_blank" href="{{ link }}" class="ext" data-extlink="">{{ k }}</a>
                            {% else %}
                                {{ k }}
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block request %}
    {% set audit = (emsch_search('audit', {
        "size": 1,
        "query": {
            "range": {
                "status_code": {
                    "gte": 200,
                    "lt": 300
                }
            }
        },
        "sort":  [{'timestamp': 'asc'}],
        "aggs": {
            "pa11y": {
                "nested": {
                    "path": "pa11y"
                },
                "aggs": {
                    "codes": {
                        "terms": {
                            "size": 1000,
                            "field": "pa11y.code"
                        },
                        "aggs": {
                            "code_to_docs": {
                                "reverse_nested": {},
                            }
                        }
                    }
                }
            }
        }
    })) %}

    {%  set data = audit.aggregations.pa11y.codes.buckets|default([])|map(d => {
        id: d.key|split('.')[4],
        key: d.key,
        errors: d.doc_count,
        pages: d.code_to_docs.doc_count,
    })|array_key('id') %}

    <div id="general-info">
        <h2>{{ 'accessibility.general_info'|trans }}</h2>
        <dl class="row">
            <dt class="col-sm-4">{{ 'accessibility.website_url'|trans }}</dt><dd class="col-sm-8">{{ app.request.getSchemeAndHttpHost() }}</dd>
            <dt class="col-sm-4">{{ 'accessibility.audit_date'|trans }}</dt><dd class="col-sm-8">{{ audit.hits.hits[0]._source.timestamp|default('now')|date("d-m-Y") }}</dd>
            <dt class="col-sm-4">{{ "accessibility.amount_page_scanned"|trans }}</dt><dd class="col-sm-8">{{ audit.hits.total.value|default(0) }}</dd>
        </dl>
    </div>
    <div id="audit">
        <h2>{{ 'accessibility.accessibility_audit'|trans }}</h2>
        {% for rule in pageStructure %}
            <h3>{{ "accessibility.labels.#{loop.index}"|trans }}</h3>
            <p>{{ "accessibility.info_texts.#{loop.index}"|trans }}</p>
            {% for childKey, child in rule %}
                <h4>{{ "accessibility.labels.#{childKey}"|trans }}</h4>
                <p>{{ "accessibility.info_texts.#{childKey}"|trans }}</p>
                {% for subruleKey, subrule in child %}
                    <h5>{{ "accessibility.labels.#{subruleKey}"|trans }}</h5>
                    {{ block('rule_table') }}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </div>
{% endblock request %}
