{%- block mediaLibraryFileRowHeader -%}
    {% apply spaceless %}
        <li>
            <div>Name</div>
            <div>Type</div>
            <div class="text-right">Size</div>
        </li>
    {% endapply %}
{%- endblock -%}

{%- block mediaLibraryFileRow -%}
    {% apply spaceless %}
        <li>
            <div><a href="{{ url }}" download="{{ media.file.filename }}">{{ media.file.filename }}</a></div>
            <div>{{ media.file.mimetype|trans({}, 'emsco-mimetypes') }}</div>
            <div class="text-right">{{ media.file.filesize|format_bytes }}</div>
        </li>
    {% endapply %}
{%- endblock -%}