{%- trans_default_domain 'elements' -%}

<div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="image">
        {% include '@EMSAdminUI/bootstrap5/elements/user-image.html.twig' with {
            'class': 'img-circle elevation-2'
        } %}
    </div>
    <div class="info">
        {% if app.user %}
            <a href="{{ path(routes.USER_PROFILE) }}" class="d-block">{{ app.user.displayName }}</a>
        {% else %}
            {{ 'side_menu.anonymous-user'|trans }}
        {% endif %}
    </div>
    {% if app.user %}
        {% set statusLabel = {
            'green': 'elements.status.green'|trans,
            'red': 'elements.status.red'|trans,
            'yellow': 'elements.status.yellow'|trans,
        } %}
        <a href="{{ path('elasticsearch.status') }}" id="status-overview" class="position-absolute top-0 end-0" title="{{ attribute(statusLabel, status)|default('unknown') }}">
            <i class="fa fa-circle fa-2xs text-{{ status }}"></i> <span class="visually-hidden">{{ attribute(statusLabel, status)|default('unknown') }}</span>
        </a>
    {% endif %}
</div>

{% if app.user %}
    <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="{{ 'side-menu.quick-search.placeholder'|trans }}" aria-label="{{ 'side-menu.quick-search.label'|trans }}">
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                    <span class="visually-hidden">{{ 'side-menu.search.btn'|trans }}</span>
                </button>
            </div>
        </div>
    </div>
{% endif %}

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar nav-child-indent flex-column" data-widget="treeview" role="menu" data-accordion="false">
        {% for item in menu|default([])|filter( p => p.hasChildren) %}
            <li class="nav-header">{{ item.title|trans(item.transParameters, 'emsco-twigs') }}</li>
            {% for menu in item.children %}
                {{ block('sidebarMenu', '@EMSAdminUI/bootstrap5/elements/menu.html.twig') }}
            {% endfor %}
        {% endfor %}
    </ul>
</nav>
