{%- trans_default_domain 'elements' -%}
<nav class="app-header navbar navbar-expand bg-body">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
                    <i class="fa fa-bars"></i>
                </a>
            </li>
        </ul>

        <ul class="navbar-nav ms-auto">
            {% if app.user %}
                {{ render(controller('EMS\\CoreBundle\\Controller\\ChannelController::menu')) }}
                {{ render(controller('EMS\\CoreBundle\\Controller\\NotificationController::menuNotificationAction')) }}
            {% endif %}

            <li class="nav-item tasks-menu" id="system-messages">
                <a href="#" class="nav-link" data-bs-toggle="control-sidebar">
                    <i id="ajax-activity" class="fa fa-refresh"></i>
                    <span class="navbar-badge badge text-bg-danger"></span>
                </a>
            </li>

            <li class="nav-item dropdown user-menu">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    {% include '@EMSAdminUI/bootstrap5/elements/user-image.html.twig' with {
                        'class': 'user-image rounded-circle shadow'
                    } %}
                    <span class="d-none d-md-inline">{{ app.user.displayName }}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-lg dropdown-menu-end">
                    <li class="user-header text-bg-primary">
                        {% include '@EMSCore/elements/user-image.html.twig' with {
                            'class': 'rounded-circle shadow'
                        } %}

                        <p>
                            {{ 'user.logged_in.title'|trans({'%username%': app.user.username}, 'emsco-user') }}
                            <small>{{ 'user.logged_in.member_since'|trans({'%date%': app.user.created|date(date_time_format)}, 'emsco-user') }}</small>

                            <small>
                                {% for role in app.user.roles %}
                                    {{ role|trans({}, 'EMSCoreBundle') }}{% if not loop.last %},{% endif %}
                                {% endfor %}
                            </small>
                        </p>
                    </li>
                    <li class="user-footer">
                        <a href="{{ path(routes.USER_PROFILE) }}" class="btn btn-default btn-flat">{{ 'user.profile.title'|trans({}, 'emsco-user') }}</a>
                        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                            <a href="{{ path('emsco_user_index', {'_switch_user': '_exit'}) }}" class="btn btn-default btn-flat float-end">{{ 'user.logout.exit'|trans({}, 'emsco-user') }}</a>
                        {% else %}
                            <a href="{{ path(routes.USER_LOGOUT) }}" class="btn btn-default btn-fla float-end">{{ 'user.logout.submit'|trans({}, 'emsco-user') }}</a>
                        {% endif %}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
