

{% block card %}
    {% trans_default_domain trans_default_domain %}
    <div class="col-12 col-md-6 col-lg-4" data-tag="{{ news._source.categories|default([])|map(p => p|ems_ouuid)|join(' ') }}">
        <a href="{{ path('emsch_news_details', {
                slug: attribute(news._source, locale).slug,
                month: news._source.publication_date|date('m'),
                year: news._source.publication_date|date('Y'),
                day: news._source.publication_date|date('d'),
            }) }}" class="card border-0 rounded-0 text-decoration-none">
            {% if attribute(news._source, locale).image is defined %}
                <img class="news-image img-fluid rounded border" alt="" src="{{ ems_asset_path(attribute(news._source, locale).image, {
                    _config_type: 'image',
                    _width: 490,
                    _height: 300,
                    _quality: 90,
                }) }}" data-holder-rendered="true">
            {% endif %}
            <div class="card-body px-0">
                <small class="news-meta text-uppercase">
                    <span class="news-date mr-2">{{ news._source.publication_date|date('d/m/Y') }}</span>
                    <span class="tag">{{ news._source.categories|default([])|map(p => attribute(tags, p|split(':')|last)|default(''))|join(' ') }}</span>
                </small>
                <h2 class="news-heading mt-2">{{ attribute(news._source, locale).title|default('') }}</h2>
                {{ attribute(news._source, locale).summary|default|emsch_routing }}
            </div>
        </a>
    </div>
{% endblock card %}
