{% extends '@EMSCore/components/json_menu_nested/template.twig' %}

{%- block jmn_title -%}
    <h2 class="h4">{{ sectionLabel }}</h2>
{%- endblock -%}

{%- block jmn_button_add_menu -%}
    {{ parent() }}
    <li>
        <button class="ems-add-existing-page" data-modal-size="md">
            <i class="fa fa-sign-in"></i>Existing content
        </button>
    </li>
{%- endblock jmn_button_add_menu -%}

{%- block jmn_button_item_delete -%}
    {% set buttonLabel = 'Detach' %}
    {{ parent() }}
{%- endblock -%}

{%- block jmn_button_item_add -%}
    {% set buttonLabel = buttonLabel|default("Create #{addNode.type}") %}
    {{ parent() }}
{%- endblock -%}

{%- block jmn_item_title -%}
    {% if attribute(item.object, locale)|default(false) and attribute(item.object, locale).title|default(false) %}
        <span>{{ attribute(item.object, locale).title }}</span>
    {% else %}
        <span class="text-gray">{{ item.label }}</span>
    {% endif %}
{%- endblock jmn_item_title -%}

{% block jmn_column_content %}Content{% endblock %}

{% block jmn_cell_content %}
    {% set content = emsch_search(contentTypes, {
        "query": { "terms": {"menu": [item.id]} },
        "size": 2,
    }).hits.hits %}
    {% if content|length == 0 %}
        <button data-id="{{ item.id }}" class="json-post-button btn btn-sm btn-default new-button" data-object="{{ item.object|json_encode|e('html_attr') }}" data-type="{{ item.type|e('html_attr') }}" data-label="{{ item.label|e('html_attr') }}" id="new-btn-{{ item.id|e('html_attr') }}">
            <i class="fa fa-plus"></i>
            New {{ item.type }}
        </button>
    {% elseif content|length == 1 %}
        {% set info = "#{content.0._source._contenttype}:#{content.0._id}"|emsco_document_info %}
        {% set contentType = content.0._source._contenttype|get_content_type %}
        {% set ouuid = content.0._id %}
        {% set environment = 'preview'|get_environment %}
        {% include '@EMSCore/elements/object-views-button.html.twig' with {
            ouuid:  ouuid,
            contentType: contentType,
            environment: environment,
            recursiveView: false,
            object: content.0,
        }%}
        {% if info and  is_granted(contentType.roles.edit) %}
            {% if not  contentType.circlesField or attribute(source, contentType.circlesField) is not defined or attribute(source, contentType.circlesField)|in_my_circles %}
                {% include '@EMSCore/elements/post-button.html.twig' with {
                    'url': path('revision.new-draft', {'ouuid': ouuid, 'type': contentType.name}),
                    'label': 'Edit',
                    'icon': 'pencil' }%}
            {% endif %}
        {% endif %}
    {% else %}
        <div class="col-xs-12 text-center">
            Error: multiple pages are attached to this item
        </div>
    {% endif %}
{% endblock %}

{% block jmn_column_status %}
    <div>
        <div class="col-xs-12">Publication status</div>
        {% for env in environments %}
            <div style="width: 80px;float: left">{{ env|get_environment.label }}</div>
        {% endfor %}
    </div>
{% endblock %}

{% block jmn_cell_status %}
    {% set content = emsch_search(contentTypes, {
        "query": { "terms": {"menu": [item.id]} },
        "size": 2,
        "_source": ['label']
    }).hits.hits %}
    {% if content|length == 1 %}
        {% set info = "#{content.0._source._contenttype}:#{content.0._id}"|emsco_document_info %}
        {% for env in environments %}
            {% if info.defaultEnvironment.name == env %}
                {% if info.hasDraft %}
                    <span class="jmn-badge label label-warning col-sm-12">Draft</span>
                {% else %}
                    <span class="jmn-badge label label-success col-sm-12">Published</span>
                {% endif %}
            {% else %}
                {% if info.aligned(env) %}
                    <span class="jmn-badge label label-success col-sm-12">Published</span>
                {% elseif info.published(env) %}
                    <span class="jmn-badge label label-warning col-sm-12">Outdated</span>
                {% else %}
                    <span class="jmn-badge label label-default col-sm-12">Unavailable</span>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}