{% block body %}
    {{ component('media_library', {
        'id': 'examaple-media-lib',
        'template': _self,
    }) }}
{% endblock body %}

{% block javascript %}{% endblock javascript %}

{% block css %}{% endblock css %}

{%- block media_lib_file_header -%}
    <div>Name</div>
    <div>Type</div>
    <div>Revision</div>
    <div class="text-right">Size</div>
{%- endblock media_lib_file_header -%}

{%- block media_lib_file -%}
    <div><a href="{{- mediaFile.urlView -}}" download="{{- mediaFile.name -}}" data-ems-id="{{- mediaFile.emsId -}}">{{- mediaFile.name -}}</a></div>
    <div>{{- mediaFile.file.mimetype|trans({}, 'emsco-mimetypes') -}}</div>
    <div><a href="{{ path('emsco_view_revisions', { 'type': mediaFile.document.contentType, 'ouuid': mediaFile.id  }) }}">show revision</a></div>
    <div class="text-right">{{- mediaFile.file.filesize|default(0)|format_bytes -}}</div>
{%- endblock media_lib_file -%}


