{%  block ems_body %}
    {% set route = app.request.attributes.get('_route') %}
    {% set routeParams = app.request.attributes.get('_route_params') %}

    {% set locales = app.request.server.all['EMSCH_LOCALES']|default('[]')|ems_json_decode %}

    {% if app.user.localePreferred|default(null) and app.user.localePreferred[0:2] in locales %}
        {% set locales = [app.user.localePreferred[0:2]]|merge(locales)|reduce((carry,p) => p in carry ? carry : carry|merge([p]), []) %}
    {% endif %}
    {%  set locale = app.request.query.get('locale', locales|first) %}

    {% set sections = {
        "index": 'preview'|emsco_get_environment.alias,
        "size": 10,
        "body": {
            "_source": ['label', 'structure'],
            "query": {"term": { "_contenttype": {"value":"section"} } },
            "sort": { "order": { "order": "asc", "missing": "_last", "unmapped_type": "long" } }
        }
    }|search.hits.hits %}
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            {% for l in locales %}
                <li class="{{ html_classes({ 'active': l == locale }) }}">
                    <a href="{{ path(route, routeParams|merge({ 'locale': l }) ) }}">{{ "locale.#{l}"|i18n }}</a>
                </li>
            {% endfor %}
        </ul>
       <div class="tab-content">
            <div class="tab-pane p-2 active" id="tab-{{ locale }}">
                {% for section in sections %}
                    {{ component('json_menu_nested', {
                        'id': "section-#{section._id}",
                        'ems_link': "ems://object:#{section._source._contenttype}:#{section._id}",
                        'field_path': '[structure]',
                        'template': '@EMSCH/template_ems/dashboard/json_menu_nested.twig',
                        'context_block': 'build_context',
                        'active_item_id': app.request.get('activeItemId')|default(null),
                        'context': {
                            'sectionLabel': section._source.label,
                            'locale': locale
                        },
                        'columns': [
                            { 'name': 'content', 'width': 150 },
                            { 'name': 'status', 'width': 200 },
                            { 'name': 'structure' },
                        ],
                    }) }}
                {% endfor %}
            </div>
        </div>
    </div>
{%  endblock ems_body %}

{% block ems_header %}
    <style>
        .jmn-column-status { flex-wrap: wrap; }
        .jmn-column-status > div:first-child { width: 100%; padding-bottom: 10px; }
        .jmn-column-status > div:not(:first-child) { flex: 1; }
    </style>
{% endblock ems_header %}

{%  block ems_footer %}
    <script>
        window.addEventListener('emsReady', function () {
            Object.values(window.jsonMenuNestedComponents).forEach((jmn) => {
                jmn.element.addEventListener('jmn-load', (event) => onJmnLoad(jmn, event));
                jmn.element.addEventListener('jmn-add', (event) => onJmnAdd(jmn, event));
                jmn.element.addEventListener('jmn-modal-custom', (event) => onJmnModalCustom(jmn, event));
            });
        });

        function onJmnLoad(jmn, event) {
            event.preventDefault();

            console.debug('cool');

            jmn.element.querySelectorAll('.btn-new-page').forEach((button) => {
                button.addEventListener('click', () => onClickNewPage(jmn, button));
            });
            jmn.element.querySelectorAll('.btn-detach-page').forEach((button) => {
                button.addEventListener('click', () => onClickDetachPage(jmn, button));
            });
            jmn.loading(false);
        }
        function onJmnAdd(jmn, event) {
            if (!event.detail.data.hasOwnProperty('success') || !event.detail.data.success) return;
            event.preventDefault();
            jmn.loading(true);
            createPageForItem(event.detail.data.item);
        }
        function onJmnModalCustom(jmn, event) {
            let data = event.detail.data;
            if (data.hasOwnProperty('modalName') && data.modalName === 'modal_existing_page') {
                event.preventDefault();
                onModalExistingPage(jmn, event.detail.ajaxModal, data.item.id);
            }
        }
        function onClickNewPage(jmn, button) {
            jmn.loading(true);
            createPageForItem(JSON.parse(button.dataset.item));
        }
        function onClickDetachPage(jmn, button) {
            jmn.loading(true);
            updatePage(button.dataset.pageId, { menu: null }).then((json) => {
                if (json.hasOwnProperty('success') || json.success) jmn.itemDelete(button.dataset.itemId);
            });
        }
        function onModalExistingPage(jmn, ajaxModal, itemParentId) {
            document.getElementById('jmn-existing-page-table').addEventListener('click', (event) => {
                if (event.target.classList.contains('btn-add-existing-page')) onChooseExistingPage(jmn, event.target);
            });

            async function onChooseExistingPage(jmn, button) {
                jmn.loading(true);
                ajaxModal.close();
                let pageId = button.dataset.pageId;

                getPage(pageId)
                    .then((page) => ({
                        type: 'page',
                        object: {
                            label: page.revision.label,
                            nl: { title: page.revision['title_nl'] },
                            fr: { title: page.revision['title_fr'] },
                        }
                    }))
                    .then((item) => jmn.itemAdd(itemParentId, item, null))
                    .then((responseAdd) => {
                        let addedItemId = responseAdd.item.id;
                        updatePage(pageId, { menu: addedItemId }).then((json) => {
                            if (json.hasOwnProperty('success') || json.success) jmn.load({ activeItemId: addedItemId });
                        });
                    });
            }
        }

        function createPageForItem(item) {
            post('/json/data/page/create?' + new URLSearchParams({ refresh: 1 }), {
                label: item.label,
                menu: item.id,
                nl: {title: item.object.nl.title},
                fr: {title: item.object.fr.title},
            }).then((json) => {
                if (json.hasOwnProperty('revision_id')) window.location = `/data/draft/edit/${json.revision_id}`;
            });
        }
        function getPage(pageId) {
            return get(`/json/data/page/${pageId}`);
        }
        function updatePage(pageId, data) {
            return post(`/json/data/page/update/${pageId}?` + new URLSearchParams({ refresh: 1}), data);
        }
        async function get(url) {
            let response = await fetch(url, {
                method: "GET",
                headers: { 'Content-Type': 'application/json', 'X-Log-Level': '300'}
            });
            return response.json();
        }
        async function post(url, data) {
            let response = await fetch(url, {
                method: "POST",
                headers: { 'Content-Type': 'application/json', 'X-Log-Level': '300'},
                body: JSON.stringify(data)
            });
            return response.json();
        }
    </script>
{%  endblock ems_footer %}
