{% extends '@EMSCH/template/base/bootstrap.html.twig' %}
{% trans_default_domain trans_default_domain %}

{% block title %}{{ attribute(source, locale).title|default('') }}{% endblock %}
{% block metatitle %}{{ attribute(source, locale).metatitle|default(block('title')) }}{% endblock %}

{% block main -%}
    <h1 {{ emsch_admin_menu(target.getEmsLink|default(emsLink)) }}>{{ block('title') }}</h1>
    {% block blocks %}{% endblock %}
    <img src="{{ emsch_asset('img/head/icon.png', {
        _config_type: 'image',
        _width: 310,
        _height: 150,
        _quality: 0,
        _resize: 'fill',
        _gravity: 'west',
        _background: '#2e2e2e',
    }) }}">
{%- endblock main %}
