{% extends '@EMSAdminUI/bootstrap5/base/admin.html.twig' %}
{% trans_default_domain 'EMSCoreBundle' %}

{% block title %}{{ 'release.edit.title'|trans }}{% endblock %}
{% block pagetitle %}{{ block('title') }}{% endblock %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ path('emsco_release_index') }}"><i class="{{ 'view.icon.class.release'|trans }}"></i> {{ 'release.menu'|trans }}</a></li>
		<li class="breadcrumb-item">{{ block('title') }}</li>
   	</ol>
{% endblock %}

{% block body %}
    {% include "@EMSAdminUI/bootstrap5/release/form.html.twig" with {
    	label: 'release.edit.title',
    } %}

    {% form_theme form '@EMSAdminUI/bootstrap5/form/forms.html.twig' %}
    {{ form(form) }}
{% endblock %}
