{% extends '@EMSAdminUI/bootstrap5/base/html5.html.twig' %}
{%- trans_default_domain 'base' -%}

{% set body_attr = {
    class: 'hold-transition sidebar-mini layout-fixed',
} %}
{%  set theme_color_contrast = theme_color in ['yellow','lime','white','cyan'] ? 'light' : 'dark' %}

{% block body %}
    {% apply spaceless %}
        <div class="wrapper">

            {% if preloader|default(false) %}
                {{ include('@EMSAdminUI/bootstrap5/elements/preloader.html.twig') }}
            {% endif %}
            {{ include('@EMSAdminUI/bootstrap5/elements/topbar.html.twig') }}
            {{ include('@EMSAdminUI/bootstrap5/elements/sidenav.html.twig') }}

            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1 class="m-0">{{ block('title') }}</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-end">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active">Dashboard v1</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="content">
                    <div class="container-fluid">
                        {% block content %}{% endblock content %}
                    </div>
                </section>
            </div>

            {{ include('@EMSAdminUI/bootstrap5/elements/footer.html.twig') }}
            {{ include('@EMSAdminUI/bootstrap5/elements/control-sidebar.html.twig') }}

        </div>
    {% endapply %}

{% endblock body %}
