{% apply spaceless %}
<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}{% endblock title %} | {{ ems_name|striptags }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="{{ block('title') }}" />
        <meta name="author" content="https://github.com/ems-project" />
        {% block frontend_application_css %}
            <link rel="stylesheet" href="{{ asset('app.css', 'emsadminui') }}">
        {% endblock frontend_application_css %}
        {%- block stylesheets %}{% endblock %}
        <link rel="icon" sizes="128x128" type="image/png" href="{{ asset('images/icon-128.png', 'emsadminui') }}" />
        <link rel="apple-touch-icon" sizes="128x128" type="image/png" href="{{ asset('images/icon-128.png', 'emsadminui') }}">
        {%- block extraheader %}{% endblock %}
    </head>
    <body{% with { attr: body_attr|default([]) } %}{{ block('attributes', '@EMSAdminUI/bootstrap5/base/helpers.html.twig') }}{% endwith %}>
        {% block wrapper %}{% endblock wrapper %}
        {% embed '@EMSAdminUI/bootstrap5/core/modal.html.twig' with {'id': 'ajax-modal'} %}{% endembed %}
        {% embed '@EMSAdminUI/bootstrap5/core/modal.html.twig' with {'id': 'pick-file-server-modal'} %}{% endembed %}
        {% block frontend_application_js %}
            <script src="{{ asset('app.js', 'emsadminui') }}"></script>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
{% endapply %}
