{% apply spaceless %}
<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}{% endblock title %} | {{ ems_name|striptags }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="{{ block('title') }}" />
        <meta name="author" content="https://github.com/ems-project" />
        <link rel="stylesheet" href="{{ asset('src/app.js.css', 'emsadminui') }}">
        {%- block stylesheets %}{% endblock %}
        <link rel="icon" sizes="128x128" type="image/png" href="{{ path('core-favicon') }}" />
        <link rel="apple-touch-icon" sizes="128x128" type="image/png" href="{{ path('core-apple-touch-icon') }}">
        <link rel="manifest" href="{{ path('core-site-webmanifest') }}" />
        {%- block extraheader %}{% endblock %}
    </head>
    <body{% with { attr: body_attr|default([]) } %}{{ block('attributes', '@EMSAdminUI/bootstrap5/base/helpers.html.twig') }}{% endwith %}>
        {% block wrapper %}
            <h1>{% block pagetitle %}{{ block('title') }}{% endblock %}{% block subtitle %}{% endblock %}</h1>
            <section class="content">
                {% block body %}{% endblock %}
            </section>
        {% endblock wrapper %}
        {% embed '@EMSAdminUI/bootstrap5/core/modal.html.twig' with {'id': 'ajax-modal'} %}{% endembed %}
        {% embed '@EMSAdminUI/bootstrap5/core/cke-modal.html.twig' %}{% endembed %}
        {% embed '@EMSAdminUI/bootstrap5/core/modal.html.twig' with {'id': 'pick-file-server-modal'} %}{% endembed %}
        {% include '@EMSAdminUI/bootstrap5/core/out-of-sync.html.twig' %}
        <script src="{{ asset('src/app.js', 'emsadminui') }}" type="module"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
{% endapply %}
