{% extends '@EMSAdminUI/bootstrap5/user/profile/show.html.twig' %}
{%- trans_default_domain 'user' -%}

{% block title %}{{ 'user.profile.change_password.title'|trans }}{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = {(path('emsco_user_profile_edit')): 'user.profile.change_password.title'|trans}|merge(breadcrumb)  %}
    {{ parent() }}
{% endblock breadcrumb %}

{% block body %}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="card card-{{ theme_color }} card-outline">
                {{ form_start(form, { 'action': path(routes.USER_CHANGE_PASSWORD), 'attr': { 'class': 'emsco_user_change_password' } }) }}
                    <div class="card-body">
                        {{ form_errors(form) }}
                        {{ form_row(form.current_password) }}
                        {{ form_row(form.plainPassword) }}
                    </div>
                    <div class="card-footer">
                        {{ form_row(form._token) }}
                        <input type="submit" value="{{ 'user.profile.change_password.submit'|trans }}" class="btn btn-primary"/>
                        <a href="{{ path(routes.USER_PROFILE) }}" class="btn float-end btn-default">{{ 'user.profile.change_password.cancel'|trans }}</a>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock body %}
