{% extends '@EMSCore/base.html.twig' %}{% trans_default_domain 'EMSCoreBundle' %}

{% block title %}Permissions{% endblock %}
{% block pagetitle %}Permissions Overview{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="box ">
                <div class="box-header with-border">
                    <i class="fa fa-sitemap"></i>
                    <h3 class="box-title">Permissions of content types</h3>

                    <div class="modal fade" id="content_type_modal_reorder" tabindex="-1" role="dialog" aria-labelledby="myModalReorder">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalReorderLabel">
                                        <strong>Reorder Content Types</strong>
                                    </h4>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-condensed table-striped">
                            <tbody>
                            <tr>
                                <th class="text-center" style="width: 10px">Content Type</th>
                                <th class="text-center" style="width: 20px">Icon</th>
                                <th>View</th>
                                <th>Create</th>
                                <th>Edit</th>
                                <th>Specif. Roles</th>
                                <th>Publish</th>
                                <th>Delete</th>
                                <th>Trash</th>
                                <th>Archive</th>
                                <th>Show link create</th>
                                <th>Show link search</th>
                            </tr>
                            {% for contentType in emsco_get_content_types() %}
                                <tr class="text-{{ contentType.color }}">
                                    <td class="text-center">{{ loop.index }}.</td>
                                    <td class="text-center"><i class="{% if contentType.icon %}{{ contentType.icon }}{% else %}fa fa-book{% endif %}"></i></td>
                                    <td>{{ contentType.roles.view|trans }}</td>
                                    <td>{{ contentType.roles.create|trans }}</td>
                                    <td>{{ contentType.roles.edit|trans }}</td>
                                    <td>
                                        <div class="btn-group">
                                            {% if contentType.fieldType is defined and contentType.fieldType is not empty %}
                                                {% set hasNullMinimumRole = false %}
                                                {% for field in contentType.fieldType %}
                                                    {% set fieldOptions = field.options %}
                                                    {% if fieldOptions.restrictionOptions is defined and fieldOptions.restrictionOptions.minimum_role is null %}
                                                        console.log(minimum_role)
                                                        {% set hasNullMinimumRole = true %}
                                                    {% endif %}
                                                {% endfor %}
                                                {% if not hasNullMinimumRole %}
                                                    {% include '@EMSCore/elements/get-button.html.twig' with {
                                                        'url':  path('permissions.view', {'contentType': contentType.id}),
                                                        'label': 'View',
                                                        'icon': 'tv'
                                                    }%}
                                                {% endif %}
                                            {% else %}
                                                {% include '@EMSCore/elements/get-button.html.twig' with {
                                                    'url':  path('permissions.view', {'contentType': contentType.id}),
                                                    'label': 'View',
                                                    'icon': 'tv'
                                                }%}
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td>{{ contentType.roles.publish|trans }}</td>
                                    <td>{{ contentType.roles.delete|trans }}</td>
                                    <td>{{ contentType.roles.trash|trans }}</td>
                                    <td>{{ contentType.roles.archive|trans }}</td>
                                    <td>{{ contentType.roles.show_link_create|trans }}</td>
                                    <td>{{ contentType.roles.show_link_search|trans }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
{% endblock %}

