{% trans_default_domain 'EMSCoreBundle' %}

<div class="row">
	<div class="col-md-3">
		<div class="card card-warning card-outline">
			<div class="card-header">
				<h3 class="card-title"><i class="fa fa-warning"></i> {{ 'Notice'|trans }}</h3>
			</div>
			<!-- /.box-header -->
			<div class="card-body">
				<p>
					{{ 'All environments have to be re-builded each times that the analyzers configuration is updated.'|trans|raw }}
				</p>
			</div>
			<!-- /.box-body -->
		</div>
	</div>
	<div class="col-md-9">
		<!-- general form elements -->
		<div class="card card-{{ theme_color }} card-outline">
			<div class="card-header">
				<h3 class="card-title">{{ label|trans }}</h3>
			</div>
			<!-- /.box-header -->
			<!-- form start -->
			{{ form_start(form) }}
			<div class="card-body">
				{{ form_row(form.name) }}
				{{ form_row(form.label) }}
				{{ form_widget(form.options) }}
			</div>
			<!-- /.box-body -->
			<div class="card-footer">
				{{ form_widget(form.save) }}
			</div>
			{{ form_end(form) }}
		</div>
		<!-- /.box -->
	</div>
</div>