{% extends '@EMSAdminUI/bootstrap5/base/admin.html.twig' %}{% trans_default_domain 'EMSCoreBundle' %}

{% if new %}
    {% set title = 'Add managed alias'|trans %}
{% else %}
    {% set title = 'Edit managed alias'|trans %}
{% endif %}

{% block title %}{{ title }}{% endblock %}
{% block pagetitle %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form) }}
        <div class="col-md-6">
            <div class="card card-{{ theme_color }} card-outline">
                <div class="card-header">
                    <h3 class="card-title">{{ title }}</h3>
                </div>
                <div class="card-body">
                    {{ form_row(form.name) }}
                    {{ form_row(form.label) }}
                    {{ form_row(form.color) }}
                    {{ form_row(form.extra) }}
                </div>
                <div class="card-footer text-end">
                    {{ form_widget(form.save) }}
                </div>
            </div>
        </div>
            <div class="col-md-6">
            <div class="card card-{{ theme_color }} card-outline">
                <div class="card-header">
                    <h3 class="card-title">Indexes</h3>
                </div>
                <div class="card-body">
                    {{ form_row(form.align_indexes) }}

                    <table class="table table-condensed table-striped">
                        <tbody>
                            <tr>
                                <th>Index</th>
                                <th>Total</th>
                            </tr>
                            {% for checkbox in form.indexes %}
                                <tr>
                                    <td>{{ form_widget(checkbox) }}</td>
                                    <td>{{ attribute(checkbox.vars.attr, 'data-count') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
{#                <div class="card-footer text-end">#}
{#                </div>#}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{ asset('managed-alias.js', 'emsadminui') }}"></script>
{% endblock %}
