{% extends '@EMSAdminUI/bootstrap5/base/admin.html.twig' %}{% trans_default_domain 'EMSCoreBundle' %}

{% block title %}View the environment {{environment.name}}{% endblock %}
{% block pagetitle %}View the environment {{environment.name}}{% endblock %}
{% block breadcrumb %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href={{ path('environment.index') }}><i class="fa fa-database"></i> Environments</a></li>
    <li class="breadcrumb-item active">View environment</li>
  </ol>
{% endblock %}

{% block body %}
    <div class="card card-{{ theme_color }} card-outline">
        <div class="card-header">
            <h3 class="card-title">Elasticsearch information</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form">
            <div class="card-body">
                {% if info %}
                    <pre class="ems-code-editor" data-language="ace/mode/json"
                         data-theme="ace/theme/chrome" data-max-lines="300">{{ info|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                {% else %}
                    Elasticsearch index is missing !
                {% endif %}
            </div>
            <!-- /.box-body -->

            <div class="card-footer text-end">
                <div class="btn-group">
                    {% include '@EMSAdminUI/bootstrap5/elements/get-button.html.twig' with {
                        'url': path('environment.index'),
                        'label': 'Close',
                        'icon': 'close'
                    } %}
                    {% include '@EMSAdminUI/bootstrap5/elements/get-button.html.twig' with {
                        'url': path('environment.edit', {'id': environment.id}),
                        'label': 'Edit',
                        'icon': 'pencil'
                    } %}
                </div>
            </div>
        </form>
    </div>

{% endblock %}
