{% extends '@EMSCH/template/base/base.html.twig' %}
{% trans_default_domain trans_default_domain %}

{% block body -%}
    <a class="skip-to-content" href="#content">{{ 'aria.skip-to-content'|trans }}</a>
    <header>
        <div class="container-fluid container-lg">
            <nav class="navbar navbar-expand-lg navbar-light" data-active-message="{{ 'aria.navbar.active-item'|trans }}">
                <a class="navbar-brand" href="{{ path("emsch_path.#{app.request.locale}") }}" id="logo">
                    <img src="{{ asset("img/logos/full-logo.svg", 'emsch') }}" width="181" height="46" alt="{{ 'site.name'|trans }}">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ 'aria.toggle-navbar'|trans }}">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto align-items-lg-center">
                    {{ render_esi(controller('emsch.controller.embed::fragment', {
                        template: '@EMSCH/template/fragments/navbar.html.twig',
                        context: {
                            trans_default_domain: trans_default_domain,
                            locale: locale,
                            section: header_menu,
                        },
                    })) }}
                    {% if switchUrls|default([])|length > 0 %}
                        <li class="nav-item divider-top">
                            <div class="dropdown" id="dropdown-language">
                                <a class="btn btn-sm btn-outline-dark dropdown-toggle"
                                   href="#" id="dropdown-locales" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">{{ 'locale'|trans }}</a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-locales">
                                    {% for l, url in switchUrls %}
                                        <a lang="{{ l }}" class="dropdown-item" href="{{ url }}">
                                            {{ 'locale'|trans({}, trans_default_domain , l) }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main role="main" id="content" class="{% block main_class %}{% endblock %}">
        {% block main -%}{%- endblock main %}
    </main>

    <footer class="bd-footer py-5 border-top" {{ emsch_admin_menu(footer_menu) }}>
        <div class="container-fluid container-lg">
            <ul class="navbar-nav flex-lg-row">
                {{ render_esi(controller('emsch.controller.embed::fragment', {
                    template: '@EMSCH/template/fragments/footer.html.twig',
                    context: {
                        trans_default_domain: trans_default_domain,
                        locale: locale,
                        section: footer_menu,
                    },
                })) }}
            </ul>

            <div class="copyright mt-5">
                {{ 'site.copy'|trans({ '%year%': 'now'|date('Y') }) }}
                &nbsp;
                <img src="{{ asset("img/logos/full-logo.svg", 'emsch') }}" height="30" alt="{{ 'site.name'|trans }}">
                &nbsp;
                <a href="https://ems-project.github.io/#/" target="_blank" class="no-ico"><i class="fab fa-github fa-2x"><span class="sr-only">{{ 'footer.join-us-github' }}</span></i></a>
            </div>

        </div>
    </footer>
    <a id="back2top" href="#logo" title="{{ 'aria.back-to-top'|trans|e('html_attr') }}"><i class="fas fa-arrow-up"></i><span>{{ 'aria.back-to-top'|trans }}</span></a>
{%- endblock %}
