{% extends '@EMSCH/template/base/bootstrap.html.twig' %}
{% trans_default_domain trans_default_domain %}

{% block canonical %}{% endblock %}

{% block title %}{{ 'missing.title'|trans }}{% endblock %}

{% block main %}
    <main role="main" class="container mt-2" id="main-content">
        <div class="row py-4">
           <div class="col">
               <h1 class="pb-3 mb-4 font-italic border-bottom" {{ emsch_admin_menu(emsLink) }}>{{ block('title') }}</h1>
               <div class="alert alert-primary" role="alert">
                  {{ 'missing.description'|trans }}
                </div>
           </div>
        </div>
         <div class="row py-2 d-flex justify-content-center">
            {% for locale, url in canonicalUrls|filter((url, locale) => attribute(source, locale).show|default(false)) %}
                <div class="col-md-3 text-center">
                    <div class="card">
                        <div lang="{{ locale }}" class="card-body">
                            <p class="card-text">
                                {{ 'missing.but-available-in'|trans({}, trans_default_domain, locale) }}
                                <a lang="{{ locale }}" href="{{ url }}" class="">{{ attribute(source, locale).title }}</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
