<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block stylesheet %}<link rel="stylesheet" href="{{ asset('iframe.css', 'emsadminui') }}">{% endblock stylesheet %}
    {% apply spaceless %}
        {% if styleSet.assets.sha1|default %}
            {% do emsch_assets_version(styleSet.assets.sha1) %}
        {% endif %}
        {% if styleSet.contentCss|default %}
            <link rel="stylesheet" href="{{ asset(styleSet.contentCss, styleSet.saveDir == null ? 'emsch' : null) }}">
        {% endif %}
    {% endapply %}
</head>
<body class="wysiwyg-preview" data-target-origine="{{ app.request.getSchemeAndHttpHost()|e('html_attr') }}">
    {% block content %}{% endblock content %}
    {% block javascript %}<script src="{{ asset('iframe.js', 'emsadminui') }}"></script>{% endblock javascript %}
    {% if styleSet.contentJs|default %}
        <script src="{{ asset(styleSet.contentJs, styleSet.saveDir == null ? 'emsch' : null) }}"></script>
    {% endif %}
</body>
</html>
