{% set locale = app.request.locale %}
<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{  block('title') }}</title>
    <link rel="icon" href="/favicon.ico">
</head>
<body class="bg-dark">
    <div class="wrapper m-5">
        <div class="bg-secondary px-2 py-2">
            <div class="d-flex justify-content-between">
                <div><span class="font-weight-bold text-white">{{  block('title') }}</span></div>
                <div>{% block actions %}{% endblock %}</div>
            </div>
        </div>
        <div id="wrapper-form" class="bg-light px-4 py-2">
            {% block content %}{% endblock %}
        </div>
        <div class="accordion mt-5" id="info">
            <div class="card">
                <div class="card-header" id="info-config-heading">
                    <button class="btn btn-sm btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#info-config" aria-expanded="true" aria-controls="info-config">
                        Show config
                    </button>
                </div>
                <div id="info-config" class="collapse" aria-labelledby="info-config-heading" data-parent="#info">
                    <div class="card-body">
                        <code>
                            <pre>
                                {{- config|json_encode(constant('JSON_PRETTY_PRINT')) -}}
                            </pre>
                        </code>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script type="application/javascript" src="{{ asset('bundles/emsform/js/debug.js') }}"></script>
    {% endblock %}
</body>
</html>
