{% extends '@EMSForm/debug/base.html.twig' %}

{% block title %}Debug iFrame{% endblock %}

{% block actions %}
    {% set requestQuery = app.request.query.all %}
    <div class="btn-group px-2" role="group" aria-label="go iframe">
        <a href="{{ path('emsf_debug_form', { 'ouuid': config.id, '_locale': locale }) }}" class="btn btn-primary btn-sm"><b>FORM</b></a>
    </div>
    <div class="btn-group px-2" role="group" aria-label="Locales">
        {% for l in locales %}
            <a href="{{ path(app.request.get('_route'), {'_locale': l, 'ouuid': config.id }) }}" class="btn btn-sm btn-outline-warning {{ l == locale ? "active" }}"><b>{{ l|upper }}</b></a>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div id="ems-form"></div>
    <div id="ems-message"></div>
    <iframe id="ems-form-iframe" class="d-none" src="{{ url('emsf_iframe', {'ouuid': config.id, '_locale': locale }) }}"></iframe>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript" src="{{ asset('bundles/emsform/js/form.js') }}"></script>
    {{ parent() }}
{% endblock %}
