{% trans_default_domain 'ems-adminui-twigs' %}
<div class="modal core-modal fade" id="cke-modal" tabindex="-1" role="dialog" aria-hidden="true" data-init-link="{{ path('emsco_wysiwyg_modal_load_link') }}" data-init-edit-image="{{ path('emsco_wysiwyg_modal_edit_image') }}">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="cke-modal-title">{{ 'core.modal.loading'|trans }}</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ 'action.close'|trans({}, 'emsco-core') }}"></button>
            </div>
            <div class="modal-body modal-loading">
                <div class="text-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">{{ 'core.modal.loading'|trans }}</span>
                    </div>
                </div>
            </div>
            <div class="modal-body ajax-modal-body" style="display:none;"></div>
        </div>
    </div>
</div>
