{% block task_event_mail %}
    <p>From « {{ senderUsername|displayname }} » ,</p>
    <p>Greetings {{ receiver.displayname }},</p>
    <p>This task has been: {{ action }} {{ senderRole ? "by #{senderRole}" }}</p>
    <p>
        {% if task.hasDeadline %}<strong>deadline:</strong>{{ task.deadline.format(date_format) }}<br/>{% endif %}
        <strong>title:</strong> {{ task.title }}<br/>
        <strong>assignee:&nbsp;</strong>{{ task.assignee|displayname }}<br/>
        <strong>creator:&nbsp;</strong>{{ task.createdBy|displayname }}<br/>
        {% if task.hasDescription %}<strong>description:</strong><br/>{{ task.description|nl2br }}{% endif %}
    </p>
    {% if comment %}<p><strong>comment:</strong><br/>{{ comment|nl2br }}</p>{% endif %}
    <p>Link to document : <a href="{{ documentUrl }}" target="_blank"><strong>{{ revision|emsco_display }}</strong></a></p>
    <p>Kind regards</p>
{% endblock task_event_mail %}
