{% extends '@EMSAdminUI/bootstrap5/data/abstract-revision.html.twig' %}
{% trans_default_domain 'emsco-twigs' %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card card-{{ theme_color }} card-outline">
                {{ form_start(form) }}
                <div class="card-body">
                    {{ form_row(form.json) }}
                </div>
                <div class="card-footer">
                    {{ form_widget(form.save) }}
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock body %}
