{% block template %}
    {% set templates = [{
        name: 'Banner',
        content: "{\"id\":\"11773f53-ccac-4036-b736-537fa7492ed2\",\"label\":\"Banner\",\"type\":\"paragraph\",\"object\":{\"label\":\"Banner\",\"body\":\"<p class=\\\"lead\\\">Un CMS sur mesure au service du secteur public<\\\/p>\",\"layout\":\"main-banner\",\"image\":{\"sha1\":\"1d7ec7bcd9d73c57c9f54910f8c52157da913115\",\"mimetype\":\"image\\\/jpeg\",\"filename\":\"banner-home.jpg\",\"filesize\":82816}},\"children\":[]}",
    },{
        name: 'What\'s new ?',
        content: "{\"id\":\"6b9dd1d6-0fa7-4199-9624-55030e54b837\",\"label\":\"What's new ?\",\"type\":\"grid\",\"object\":{\"label\":\"What's new ?\",\"title\":\"What's new ?\",\"layout\":\"grid-with-dark-background\"},\"children\":[{\"id\":\"ee048414-2b90-427a-a540-56717fdd8dca\",\"label\":\"Un gestionnaire accessible\",\"type\":\"paragraph\",\"object\":{\"label\":\"Un gestionnaire accessible\",\"body\":\"<h3>Un gestionnaire accessible<\\\/h3>\\r\\n\\r\\n<p>Avec&nbsp;<strong>Orejime<\\\/strong>, vous g&eacute;rez les cookies en toute simplicit&eacute; et transparence. Orejime est un syst&egrave;me que vous pouvez utiliser sur votre site Web afin de permettre aux utilisateurs de choisir les cookies optionnels qu&rsquo;ils autorisent via un pop-up d&rsquo;accueil.<\\\/p>\\r\\n\\r\\n<p>Il a &eacute;t&eacute; sp&eacute;cialement con&ccedil;u pour se conformer au&nbsp;<strong>RGPD<\\\/strong>. En un clic, l&rsquo;utilisateur renseigne ses choix de cookies et ses pr&eacute;f&eacute;rences sont sauvegard&eacute;es.<\\\/p>\",\"layout\":\"image-left\",\"image\":{\"sha1\":\"89796f895ab84f4ca6227316fd5b43601bad31d7\",\"mimetype\":\"image\\\/png\",\"filename\":\"ems orejime gba fr.png\",\"filesize\":52148}},\"children\":[]},{\"id\":\"a8cd8361-f5f3-4e30-af6c-aa2f57b0d5c7\",\"label\":\"Un outil de planification\",\"type\":\"paragraph\",\"object\":{\"label\":\"Un outil de planification\",\"body\":\"<h3>Un outil de planification<\\\/h3>\\r\\n\\r\\n<p>La fonction&nbsp;<strong>Release<\\\/strong>&nbsp;vous permet d&eacute;sormais de cr&eacute;er une planification de publication de vos contenus aux dates et heures d&eacute;finies. &Agrave; l&rsquo;&eacute;ch&eacute;ance, la publication est d&eacute;clench&eacute;e automatiquement.<\\\/p>\\r\\n\\r\\n<p>Vous pouvez planifier plusieurs publications &agrave; la fois. Vous les retrouverez toutes dans le calendrier personnalis&eacute; de publications.<\\\/p>\",\"layout\":\"image-right\",\"image\":{\"sha1\":\"0d5c21c50a081d18eeedc9b4c5bb9909cbb973cc\",\"mimetype\":\"image\\\/png\",\"filename\":\"ems release (1).png\",\"filesize\":27997}},\"children\":[]},{\"id\":\"32a84c1a-d1c8-4fa8-b03d-3285724a489b\",\"label\":\"Une gestion collaborative\",\"type\":\"paragraph\",\"object\":{\"label\":\"Une gestion collaborative\",\"body\":\"<h3>Une gestion collaborative<\\\/h3>\\r\\n\\r\\n<p>Il est tr&egrave;s fr&eacute;quent de travailler &agrave; plusieurs sur un m&ecirc;me eMS. La nouvelle fonctionnalit&eacute; de gestion des t&acirc;ches vous permet de d&eacute;l&eacute;guer des t&acirc;ches tout en contr&ocirc;lant les processus d&rsquo;approbation et de publication de contenu.<\\\/p>\\r\\n\\r\\n<p>Les fonctions avanc&eacute;es d&rsquo;&eacute;dition permettent &eacute;galement aux utilisateurs un contr&ocirc;le total de publication.<\\\/p>\",\"layout\":\"image-left\",\"image\":{\"sha1\":\"6f5cc63ab7941196126e47ebedb01bfad6f5e0b9\",\"mimetype\":\"image\\\/png\",\"filename\":\"ems task (1).png\",\"filesize\":19974}},\"children\":[]}]}",
    },{
        name: 'Functionalities',
        content: "{\"id\":\"8f212960-9e46-4c76-98c6-b8c75ea1d927\",\"label\":\"Functionalities\",\"type\":\"grid\",\"object\":{\"label\":\"Functionalities\",\"template\":\"col-md-4 ems-3-columns\",\"target\":\"page:1f4217e0-3aeb-45aa-8caf-12a1b2445377\",\"target_label\":\"D\\u00e9couvrez toutes les fonctionnalit\\u00e9s\"},\"children\":[{\"id\":\"9b75d982-10c9-40f1-a422-bd792d78c6df\",\"label\":\"Advanced customization\",\"type\":\"paragraph\",\"object\":{\"label\":\"Advanced customization\",\"body\":\"<h2>Personnalisation pouss&eacute;e<\\\/h2>\\r\\n\\r\\n<p>elasticMS est un CMS&nbsp;<strong>hautement personnalisable<\\\/strong>. Il propose de nombreuses extensions&nbsp;afin d&rsquo;offrir des solutions adapt&eacute;es aux besoins avanc&eacute;s et aux exigences sp&eacute;cifiques du client.<\\\/p>\"},\"children\":[]},{\"id\":\"d54b2267-6ec2-4140-987d-dd3d443765a6\",\"label\":\"WCAG and RGPD oriented\",\"type\":\"paragraph\",\"object\":{\"label\":\"WCAG and RGPD oriented\",\"body\":\"<h2>Orient&eacute; WCAG et RGPD<\\\/h2>\\r\\n\\r\\n<p>elasticMS r&eacute;pond aux normes visant &agrave; rendre les contenus Web plus&nbsp;<strong>accessibles<\\\/strong>&nbsp;aux personnes en situation de handicap et r&eacute;pond aussi aux exigences de&nbsp;<strong>protection des donn&eacute;es des utilisateurs<\\\/strong>.<\\\/p>\"},\"children\":[]},{\"id\":\"d8236ded-2591-4dd6-85d9-c72d34c44ddb\",\"label\":\"Constant evolution\",\"type\":\"paragraph\",\"object\":{\"label\":\"Constant evolution\",\"body\":\"<h2>&Eacute;volution constante<\\\/h2>\\r\\n\\r\\n<p>elasticMS est un CMS &eacute;volutif en&nbsp;<strong>recherche constante d&rsquo;am&eacute;liorations<\\\/strong>&nbsp;techniques permettant de r&eacute;pondre aux besoins r&eacute;els des services publics et de leur faciliter le travail.<\\\/p>\"},\"children\":[]}]}",
    }] %}
    <h1>Component's recipes</h1>

    {% for template in templates %}
        <div class="template-copy-row">
            <h2>{{ template.name }}</h2>
            <button data-content="{{ template.content }}" class="ems_copy_to_json"><i class="fa fa-copy"></i> Copy</button>
            <div class="template-preview-iframe">
                <iframe id="preview-iframe-{{ loop.index0 }}" src="/channel/preview/_emsch/templates/preview-iframe-{{ loop.index0 }}" width="100%" height="400" data-content="{{ template.content }}"></iframe>
            </div>
        </div>
    {% endfor %}

{% endblock %}


{% block css %}
{% endblock %}


{% block javascript %}
<script type="text/javascript">
    window.addEventListener('message', function(event) {
        if ("resize" === event.data) {
            const iframes = document.querySelectorAll("iframe");
            for (let i = 0; i < iframes.length; i++) {
                const iframe = iframes[i];
                if (event.source !== iframe.contentWindow) {
                    continue;
                }

                const window = iframe.contentWindow || iframe.contentDocument.defaultView;
                const border = window.getComputedStyle(iframe, null).getPropertyValue('border-top-width').replace('px','');
                iframe.height = (parseInt(window.document.body.scrollHeight, 10) + 2*parseInt(border, 10)) + "px";
                console.log(iframe.height);
            }
            return;
        }


        const iframe = document.getElementById(event.data);
        const window = iframe.contentWindow || iframe.contentDocument.defaultView;
        window.postMessage(iframe.dataset.content, '*');
    });
    const buttons = document.querySelectorAll(".ems_copy_to_json");
    for (let i = 0; i < buttons.length; i++) {
        const button = buttons[i];
        button.addEventListener("click", function(){
            localStorage.setItem('json_menu_nested_copy', button.dataset.content);
        });
    }
</script>
{% endblock %}
