{% block template %}

    {% set banner %}{% verbatim %}{"id":"9923e7bb-2ce4-440e-ab0c-1296334bbf9e","label":"Banner","type":"paragraph","object":{"label":"Banner","body":"<p class=\"lead\">Un CMS sur mesure au service du secteur public</p>","layout":"main-banner","image":{"sha1":"1d7ec7bcd9d73c57c9f54910f8c52157da913115","mimetype":"image/jpeg","filename":"banner-home.jpg","filesize":82816}},"children":[]}{% endverbatim %}{% endset %}
    {% set whatsNew %}{% verbatim %}{"id":"280de045-19a7-4a6e-abaa-e289977820b0","label":"What's new ?","type":"grid","object":{"label":"What's new ?","title":"What's new ?","layout":"grid-with-dark-background"},"children":[{"id":"d61fec35-6635-4a43-958d-b86c92aa5d09","label":"Un gestionnaire accessible","type":"paragraph","object":{"label":"Un gestionnaire accessible","body":"<h3>Fusce facilisis.</h3>\r\n\r\n<p>Sapien id imperdiet consectetur, enim nisi egestas sem, et tristique libero augue sed sapien. Nunc non ligula vestibulum, interdum neque vitae, ullamcorper nibh. Nunc est dolor, efficitur vel turpis id, ornare suscipit ipsum. Quisque vehicula nisi vel nisi fringilla, <strong>id tempus est placerat</strong>. Donec in elementum odio, id vestibulum quam. Suspendisse rutrum non magna nec auctor. Suspendisse elementum felis sed metus faucibus volutpat. Nam ut viverra neque. Nunc id aliquam nibh, in imperdiet nisi.</p>","layout":"image-left","image":{"sha1":"9f52135ba4d62bcd64f7f1b77a8fc16afd2f6f79","mimetype":"image/webp","filename":"490x300.webp","filesize":2030}},"children":[]},{"id":"2bd36986-26e0-4cde-8a01-a889c877389e","label":"Fusce justo mauris, tincidunt at bibendum ac, gravida sit amet mi.","type":"paragraph","object":{"label":"Fusce justo mauris, tincidunt at bibendum ac, gravida sit amet mi.","body":"<h3>Fusce justo mauris, tincidunt at bibendum ac, gravida sit amet mi.</h3>\r\n\r\n<p>Maecenas et neque ut tellus blandit tincidunt. <strong>Donec maximus</strong>, neque a imperdiet lobortis, neque nibh aliquet mi, et gravida felis diam laoreet dui. Sed pretium in dolor ut scelerisque. Vestibulum eget leo et est fringilla tincidunt. Nam auctor nunc condimentum ante volutpat dapibus. Donec non gravida augue.</p>","layout":"image-right","image":{"sha1":"9f52135ba4d62bcd64f7f1b77a8fc16afd2f6f79","mimetype":"image/webp","filename":"490x300.webp","filesize":2030}},"children":[]},{"id":"615b0ce4-06d3-4b72-a1fd-a50821482bbd","label":"Lorem ipsum dolor sit amet","type":"paragraph","object":{"label":"Lorem ipsum dolor sit amet","body":"<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>\r\n\r\n<p>Donec varius nisi rhoncus mi ullamcorper, vel faucibus risus cursus. Sed viverra massa sit amet erat pellentesque, et congue lectus aliquet. Mauris rhoncus tortor eu orci eleifend imperdiet. Pellentesque lacinia enim a orci sagittis, sed posuere orci viverra. Nunc accumsan diam et magna consectetur faucibus. Nunc vitae nunc augue. Morbi id eros odio. Proin interdum magna mauris, in finibus metus vestibulum et.</p>","layout":"image-left","image":{"sha1":"9f52135ba4d62bcd64f7f1b77a8fc16afd2f6f79","mimetype":"image/webp","filename":"490x300.webp","filesize":2030}},"children":[]}]}{% endverbatim %}{% endset %}
    {% set functionalities %}{% verbatim %}{"id":"787d75cb-4946-4571-bed8-8c6f23bb7aad","label":"Functionalities","type":"grid","object":{"label":"Functionalities","template":"col-md-4 ems-3-columns","target":"page:1f4217e0-3aeb-45aa-8caf-12a1b2445377","target_label":"Découvrez toutes les fonctionnalités"},"children":[{"id":"fb83e9f9-c559-4fd4-8049-2a166f140189","label":"Sed eu dolor suscipit","type":"paragraph","object":{"label":"Sed eu dolor suscipit","body":"<h2>Sed eu dolor suscipit</h2>\r\n\r\n<p>Sed a elit vitae tortor venenatis suscipit ut sit amet ipsum. In<strong> hendrerit nulla </strong>eu nisl aliquam, luctus finibus nibh porttitor. Nam eget malesuada purus. Nulla purus orci,<strong> scelerisque ullamcorper</strong> magna vel, placerat feugiat erat.</p>"},"children":[]},{"id":"4eaff92b-79a8-4e7a-a919-d6016e1838ce","label":"Donec feugiat sapien","type":"paragraph","object":{"label":"Donec feugiat sapien","body":"<h2>Donec feugiat sapien</h2>\r\n\r\n<p>Ut viverra blandit nibh vel vehicula. Suspendisse ullamcorper odio <strong>sit amet semper facilisis</strong>. Vestibulum eget ultrices felis. <strong>Aliquam eget iaculis sapien</strong>.</p>"},"children":[]},{"id":"a404b80f-4467-4a8c-b39a-27b88b151df5","label":"Duis id euismod diam","type":"paragraph","object":{"label":"Duis id euismod diam","body":"<h2>Duis id euismod diam</h2>\r\n\r\n<p>Donec molestie ut libero sit amet ultrices. <strong>Duis non scelerisque</strong> arcu. Sed a elit vitae tortor venenatis suscipit ut sit amet ipsum. In hendrerit nulla eu nisl aliquam, luctus finibus nibh porttitor.</p>"},"children":[]}]}{% endverbatim %}{% endset %}

    {% set templates = [{
        name: 'Banner',
        content: banner.__toString(),
    },{
        name: 'What\'s new ?',
        content: whatsNew.__toString(),
    },{
        name: 'Functionalities',
        content: functionalities.__toString(),
    }] %}
    <h1>Component's recipes</h1>

    {% for template in templates %}
        <div class="template-copy-row">
            <h2>{{ template.name }}</h2>
            <button data-content="{{ template.content }}" class="ems_copy_to_json"><i class="fa fa-copy"></i> Copy</button>
            <div class="template-preview-iframe">
                <iframe id="preview-iframe-{{ loop.index0 }}" src="{{ asset('/') }}channel/preview/_emsch/templates/preview-iframe-{{ loop.index0 }}" width="100%" data-content="{{ template.content }}"></iframe>
            </div>
        </div>
    {% endfor %}

{% endblock %}


{% block css %}
{% endblock %}


{% block javascript %}
<script type="text/javascript">
    // Load and resize iframes
    window.addEventListener('message', function(event) {
        let iframe = null;
        const iframes = document.querySelectorAll("iframe");
        for (let i = 0; i < iframes.length; i++) {
            if (event.source === iframes[i].contentWindow) {
                iframe = iframes[i];
                break;
            }
        }

        if (null === iframe) {
            console.log('Received message from a unknown iframe');
            return;
        }

        const window = iframe.contentWindow || iframe.contentDocument.defaultView;
        switch (event.data) {
            case "resize":
                let height = parseInt(window.getComputedStyle(iframe, null).getPropertyValue('border-top-width').replace('px',''), 10);
                height += parseInt(window.getComputedStyle(iframe, null).getPropertyValue('border-bottom-width').replace('px',''), 10);
                height += parseInt(window.document.body.scrollHeight, 10);
                iframe.height = height;
                break;
            case "post-data":
                window.postMessage(iframe.dataset.content, "{{ app.request.getSchemeAndHttpHost() }}");
                break;
            default:
                console.log('Unknown iframe event: ' + event.data);
        }
    });

    // register copy button
    const buttons = document.querySelectorAll(".ems_copy_to_json");
    for (let i = 0; i < buttons.length; i++) {
        const button = buttons[i];
        button.addEventListener("click", function(){
            localStorage.setItem('json_menu_nested_copy', button.dataset.content);
        });
    }
</script>
{% endblock %}
