{% extends '@EMSCH/template/page/blocks/abstract-block.html.twig' %}

{% block body %}
    {% trans_default_domain trans_default_domain %}
    <section class="bg-dark text-white py-9 ems-dark-grid">
        <div class="container-fluid container-lg">
            <div class="row">
                <div class="col-12 col-xl-10 offset-xl-1">
                    {% if item.object.title|default(false) %}
                        <h2>{{ item.object.title }}</h2>
                    {% endif %}
                    {{ block('children') }}
                </div>
            </div>
            {% if item.object.target|default(false) %}
                <div class="row pt-4">
                    <div class="col-12">
                        <a class="text-white" href="{{ "ems://object:#{item.object.target}"|emsch_routing }}">{{ item.object.target_label|default('block.grid.see_also'|trans) }}</a>
                    </div>
                </div>
            {%  endif %}
        </div>
    </section>
{% endblock %}


{% block child %}
    {% set target = item.object.target|emsch_get|default(false) %}
    <a class="row news text-white text-decoration-none" href="{{ path('emsch_news_details', {
                slug: attribute(target.source, locale).slug,
                month: target.source.publication_date|date('m'),
                year: target.source.publication_date|date('Y'),
                day: target.source.publication_date|date('d'),
            }) }}">
        {% if loop.index is divisible by(2) %}
            {{ block("widget", "@EMSCH/template/page/blocks/image-right.html.twig") }}
        {% else %}
            {{ block("widget", "@EMSCH/template/page/blocks/image-left.html.twig") }}
        {% endif %}
    </a>
{% endblock child %}
